.headerLogo {
    display: flex;
    align-items:center;
    .logo {
        height: 50px;
        width: 50px;
    }
}

.mx1 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.mx2 {
    margin-left: .75rem;
    margin-right: .75rem;
}

.mt1 {
    margin-top: .5rem;
}

.myJob {
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius: 25px;
    
    ion-badge {
        border-radius: 25px;
        display: flex;
        padding: 10px 30px;
    }
}