.backButton {
    position: absolute;
    bottom: 10px;
    z-index: 999;
    opacity: .85;
}

.visita {
    ion-row {
        
        height: auto;
        
        ion-col {
            &.bordered {
                border: 1px solid #ddd;
            }

            ion-label {
                font-size: .85rem !important;
            }
        }
    }
}