ion-grid{
    height: 100%;


    ion-row{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    
    
    .gridLogin {
        max-width: 325px;

        background: transparent;
        box-shadow: none;
        margin: auto;

        ion-card-content {
            --background: transparent;                
                ion-list {
                    background: transparent;
        
                    ion-item {
                        --background: #fff;
                        border-radius: 10px;

                        ion-input {
                            background: #fff;
                            width: 100%;
                            --padding-start: 10px !important;

                        }
                    }
                }
            }
        }        
    }
}
